body
{
overflow: hidden;
}


#clipboard
{
position: absolute;
left: 25%;
height: 75%;
top: 5%;
width: 50%;
background: white;
border:solid 2px black;
z-index: 100;
box-shadow: 0px 0 2px #888, 0px 0 3px rgba(0,0,0,0.6);
font-family: "Inconsolata";
padding: 10px;
z-index: 101;
overflow: hidden;
}

#loopInterface
{
position: absolute;
left: 0;
bottom: 0;
height: 120px;
width: 100%;
background: rgba(128,128,128,0.7);
z-index: 100;
box-shadow: 0px 2px 2px #888, 0px -2px 2px black;
}

#lptoolbar
{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 32px;
}

.lptool
{
position: relative;
float: left;
margin-left: 10px;
margin-top: 6px;
height: 20px;
width: 20px;
font-size: 20px;
background-image: url(../css/save.svg);
background-size: 80%;
opacity: 0.7;
background-repeat: no-repeat;
}

.lptime
{
position: absolute;
right: 20px;
top: 2px;
width: 100px;
padding-top: 2px;
text-align: center;
height: 16px;
font-size: 14px;
background: white;
border:solid 2px black;
font-family: "Inconsolata";
}


#lpgreensock
{
  background-image: url(../css/event.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
}

#lpstart
{
background-image: url(../css/start.svg);
background-size: 80%;
opacity: 0.7;
background-repeat: no-repeat;
}

#lpstart:hover
{
opacity: 1;
}

#lpstop
{
  background-image: url(../css/pause.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
}

#lpstop:hover
{
opacity: 1;
}


#lprewind
{
  background-image: url(../css/stop.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center, center;
}

#lprewind:hover
{
opacity: 1;
}

#lpinfo
{
  background-image: url(../css/info.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
}

#tracks
{
position: absolute;
top: 36px;
width: 100%;
height: 84px;
box-shadow: 2px 2px 6px rgb(32,32,32);
background: rgba(70,70,70, 0.8);
}

#lpmarker
{
position: absolute;
top: 0;
width: 2px;
height: 100%;
background: red;
z-index: 2;
}

.lptrack
{
position: relative;
width: 100%;
margin-left: 0;
height: 1px;
background: rgb(32,32,32);
margin-top: 20px;
margin-bottom: 20px;
}

.lpevent
{
position: absolute;
min-width: 10px;
height: 10px;
margin-top: -5px;
background: orange;
box-shadow: 0 0 3px rgb(32,32,32);
}



#lpformular
{
position: absolute;
left: 0;
right: 0;
top: -20%;
bottom: 0;
margin:auto;
height: 60%;
width: 40%;
background: gainsboro;
z-index: 100;
box-shadow: 0px 2px 8px rgb(32,32,32);
}

#lpinput
{
  position: absolute;
  left: 5%;
  top: 4%;
  height: 80%;
  width: 90%;
  background: white;
}

#lpcancel
{
  position: absolute;
  left: 21%;
  top: 85%;
  height: 30px;
  font-size: 22px;
  width: 120px;
  padding: 12px;
  background: silver;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgb(32,32,32);
}

#lpcancel:hover
{
background: darkcyan;
}


#lpsubmit
{
  position: absolute;
  right: 21%;
  top: 85%;
  height: 30px;
  font-size: 22px;
  width: 120px;
  padding: 12px;
  background: silver;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgb(32,32,32);
}


#lpsubmit:hover
{
background: darkorange;
}
