body
{
overflow: hidden;
}


#clipboard
{
position: absolute;
left: 25%;
height: 75%;
top: 5%;
width: 50%;
background: white;
border:solid 2px black;
z-index: 100;
box-shadow: 0px 0 2px #888, 0px 0 3px rgba(0,0,0,0.6);
font-family: "Inconsolata";
padding: 10px;
z-index: 101;
overflow: hidden;
}

#clipboard_content
{
position: absolute;
left: 2%;
height: 80%;
top: 2%;
width: 96%;	
}

#clipboard_copy 
{
position: absolute;
left: 20px;
bottom: 20px;
color: black;
height: 20px;
width: 120px;
background: white;
border:solid 2px black;
z-index: 100;
box-shadow: 0px 0 2px #888, 0px 0 3px rgba(0,0,0,0.6);
font-family: "Inconsolata";
padding: 10px;
text-align: center;
cursor: pointer;
}

#clipboard_copy:hover
{
background: darkorange;	
}


#clipboard_close
{
position: absolute;
left: 200px;
bottom: 20px;
color: black;
height: 20px;
width: 120px;
background: white;
border:solid 2px black;
z-index: 100;
box-shadow: 0px 0 2px #888, 0px 0 3px rgba(0,0,0,0.6);
font-family: "Inconsolata";
padding: 10px;
text-align: center;
cursor: pointer;
}

#clipboard_close:hover
{
background: darkorange;	
}


#loopInterfaceTrigger
{
position: absolute;
left: 0;
bottom: 0;
height: 140px;
width: 100%;
background: transparent;
z-index: 99;
}

#loopInterface
{
position: absolute;
left: 0;
bottom: 0;
height: 120px;
width: 100%;
background: rgba(128,128,128,0.7);
z-index: 100;
box-shadow: 0px 2px 2px #888, 0px -2px 2px black;
}


#loopSettings
{
position: absolute;
left: 0;
top: 0;
height: 96%;
width: 100%;
background: silver;
z-index: 99;
}

#command_section
{
position: absolute;
left: 2%;
top: 2%;
height: 86%;
width: 34%;
background: white;
z-index: 99;	
box-shadow: inset 0px 2px 2px #888;
}


#template_section
{
position: absolute;
left: 36.5%;
top: 2%;
height: 86%;
width: 25%;
background: white;
z-index: 99;	
box-shadow: inset 0px 2px 2px #888;
}


.template_element
{
position: relative;
height: 20px;
border-bottom:solid 1px darkgray;	
font-family: "Inconsolata";
padding-top: 2px;
padding-left: 4px;
}



.template_element:hover
{
background: lightgreen; 
cursor: pointer;	
}

.delete_template
{
float: right;
margin-right: 4px;
margin-top: 2px;	
width: 16px;
height: 16px;
background-image: url(delete.svg);
background-size: 100% 100%;
opacity: 0.5;
cursor: crosshair;
}

.delete_template:hover
{
opacity: 1;	
}


#editable_template_section
{
position: absolute;
left: 62%;
top: 2%;
height: 86%;
width: 36%;
background: white;
z-index: 99;	
box-shadow: inset 0px 2px 2px #888;
}


#template_code_section
{
position: absolute;
left: 0;
top: 0;
height: 90%;
width: 100%;
}


#template_code_submit
{
  position: absolute;
  bottom: 2%;
  right: 2%;
  height: 40px;
  font-size: 22px;
  width: 120px;
  padding: 6px;
  background: silver;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgb(32,32,32);
  font-family: "Inconsolata";
}

#template_code_submit:hover
{
	background: darkcyan;	
}


.lpcommand
{
position: relative;
height: auto;
width: 100%;
font-family: "Inconsolata";
text-shadow: 1px 1px 1px silver;

border-bottom: solid 1px darkgray;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
letter-spacing: 2px;
font-size: 18px;
}

.lpcommand:hover
{
background: lightgreen; 
cursor: pointer;	
}


#file_selection
{
position: absolute;
left: 50%;
top: 100px;
width: 300px;
height: 200px;
box-shadow: 0px 2px 2px #888;
background: darkgray;
z-index: 100;	
display: none;
}

#file_selection #directory
{
position: relative;
margin: 20px;	
}


#lptoolbar
{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 32px;
z-index: 101;
}

#files
{
position: absolute;
left: 0;
right: 0;
margin:auto;
top: 6px;
width: 120px;
height: 20px;
z-index: 3;
font-family: "Inconsolata";
border:solid 2px black;
}

#templates
{
position: relative;
float: right;
margin-top: 6px;
margin-right: 160px;
width: 120px;
height: 20px;
z-index: 3;
background: white;
font-family: "Inconsolata";
border:solid 2px black;
}




.lptool
{
position: relative;
float: left;
margin-left: 10px;
margin-top: 6px;
height: 20px;
width: 20px;
font-size: 20px;
background-image: url(../css/save.svg);
background-size: 80%;
opacity: 0.7;
background-repeat: no-repeat;
cursor: pointer;
}

.lptime
{
position: absolute;
right: 20px;
top: 2px;
width: 100px;
padding-top: 2px;
text-align: center;
height: 16px;
font-size: 14px;
background: white;
border:solid 2px black;
font-family: "Inconsolata";
}


#lpgreensock
{
  background-image: url(../css/event.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
}

#lpstart
{
background-image: url(../css/start.svg);
background-size: 80%;
opacity: 0.7;
background-repeat: no-repeat;
}

#lpstart:hover
{
opacity: 1;
}

#lpstop
{
  background-image: url(../css/pause.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
}

#lpstop:hover
{
opacity: 1;
}


#lprewind
{
  background-image: url(../css/stop.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center, center;
}

#lprewind:hover
{
opacity: 1;
}

#lpinfo
{
  background-image: url(../css/info.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
}

#lpinfo:hover
{
opacity: 1;
}


#lptemplate
{
  background-image: url(../css/template.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
}

#lptemplate:hover
{
opacity: 1;
}



#lpsetting
{
  background-image: url(../css/setting2.svg);
  background-size: 80%;
  opacity: 0.7;
  background-repeat: no-repeat;
}

#lpsetting:hover
{
opacity: 1;
}






#tracks
{
position: absolute;
top: 36px;
width: 100%;
height: 84px;
box-shadow: 2px 2px 6px rgb(32,32,32);
background: rgba(70,70,70, 0.8);
}

#lpmarker
{
position: absolute;
top: 0;
width: 2px;
height: 100%;
background: red;
z-index: 2;
}

.lptrack
{
position: relative;
width: 100%;
margin-left: 0;
height: 1px;
background: rgb(32,32,32);
margin-top: 20px;
margin-bottom: 20px;
}

.lpevent
{
position: absolute;
min-width: 10px;
height: 10px;
margin-top: -5px;
background: orange;
box-shadow: 0 0 3px rgb(32,32,32);
}

.lpevent:hover
{
background: rgb(220, 200,30);	
}


#new_event
{
position: absolute;
left: 0;
right: 0;
top: -20%;
bottom: 0;
margin:auto;
height: 60%;
width: 40%;
min-width: 800px;
background: gainsboro;
z-index: 100;
box-shadow: 0px 2px 8px rgb(32,32,32);	
}


#lpformular
{
position: absolute;
left: 0;
right: 0;
top: -20%;
bottom: 0;
margin:auto;
height: 60%;
width: 40%;
min-width: 800px;
background: gainsboro;
z-index: 100;
box-shadow: 0px 2px 8px rgb(32,32,32);
border:solid 3px black;
}

#lpinput
{
  position: absolute;
  left: 5%;
  top: 4%;
  height: 80%;
  width: 90%;
  background: white;
}


#lpform_toolbar
{
  position: absolute;
  left: 0;
  top: 84%;
  height: 16%;
  width: 100%;
  background: silver;	
  z-index: 2;
}

#lpcancel
{
  position: relative;
  float: left;
  margin-left: 20px;
  height: 60%;
  margin-top: 5px;
  font-size: 22px;
  width: 120px;
  padding: 6px;
  background: silver;
  text-align: center;
  cursor: pointer;
  font-family: "Inconsolata";
  box-shadow: 0px 2px 8px rgb(32,32,32);
}

#lpcancel:hover
{
background: darkcyan;
}


#lpdelete
{
  position: absolute;
  left: -31px;
  top: 0;
  height: 28px;
  width: 28px;
  border:solid 1px black;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  background-image: url(delete.svg);
  background-size: 90% 90%;
  background-repeat:no-repeat;
  background-position: center 4px;

}


#lpsubmit
{
  position: relative;
  float: left;
  margin-left: 20px;
  height: 60%;
  margin-top: 5px;
  font-size: 22px;
  width: 120px;
  padding: 6px;
  background: silver;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgb(32,32,32);
  font-family: "Inconsolata";
}


#lpsubmit:hover
{
background: darkorange;
}


#lpaddtemplate
{
  position: absolute;
  right: 2%;
  top: 5%;
  height: 70%;
  min-height: 24px;
  font-size: 16px;
  width: 120px;
  padding: 6px;
  background: silver;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgb(32,32,32);
  font-family: "Inconsolata";
}


#lpaddtemplate:hover
{
background: darkorange;
}

.CodeMirror
{
height: 84%;	
}



.machinegun
{
position: relative;	
float: left;
font-size: 60px;
color: cyan;
}
